.bg-dark{
  background-color: black !important;
}

.btn-register{
  background: linear-gradient(90deg,#c29439,#f4da85 50%,#c29439);
}

.partner-logo {
  display: inline-block;
  padding: 5px;
}

.logo-wrap{
  text-align: center;
  margin: 15px auto;
}

.box-bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: 95%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(37, 42, 62);
  line-height: 1.25;
  z-index: 10;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-bottom{
  flex: 0 0 25%;
  position: relative;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}

.text-gold{
  color: #dcbb66 !important;
}

.slicebar {
  width: 100%;
  background: #c29439;
  background: linear-gradient(90deg,#c29439,#f4da85 50%,#c29439);
}

.bg-gd-glod{
  /* background-color: linear-gradient(#393a3e,#26272b); */
  background-image: linear-gradient(#120d02,#5f4b24f7) !important;
}

.bg-black{
  background-color: #120d02 !important;
}

.panel-heading {
  font-size: 27px;
  color: #dcbb66;
}

.panel-body strong {
  color: #dcbb66;
}

.content-top{
  margin-top: 70px;
}

body {
  /* background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  background-image: url(https://ufakicks.com/images/bg-login.jpg) */
  background-image: linear-gradient(#120d02,#5f4b24f7) !important;
}